<% include ../layouts/header %>

<div class="container">
    
<h1>Home Page</h1>
<p><%= data.txt %></p>
<img src="./images/img.jpeg" class="mx-auto d-block img-fluid">
</div>

<%include ../layouts/footer %>
